---
import RootLayout from '@/components/layouts/RootLayout.astro'
import Navbar from '@/components/shared/Navbar.astro'
import Hero from '@/components/sections/home/Hero.astro'
import Categories from '@/components/sections/shared/Categories.astro'
import FeaturedProducts from '@/components/sections/home/FeaturedProducts.astro'
import AudioGear from '@/components/sections/shared/AudioGear.astro'
import Footer from '@/components/sections/shared/Footer.astro'
---

<RootLayout>
  <Navbar showLine />
  <Hero />
  <main class='px-6 mt-10 mb-[7.5rem] md:px-10 md:mt-24 md:mb-24 lg:mt-[7.5rem] lg:mb-[12.5rem]'>
    <div class='w-full max-w-container mx-auto'>
      <Categories />
      <FeaturedProducts />
      <AudioGear />
    </div>
  </main>
  <Footer />
</RootLayout>
