---
import Menu from '@/components/icons/Menu.astro'
import Logo from '@/components/icons/Logo.astro'
import Cart from '@/components/icons/Cart.astro'

import { links } from '@/constants/links'
---

<nav class='bg-black fixed z-10 top-0 left-0 w-full h-[5.625rem] px-6 md:px-10 lg:h-24'>
  <div class='w-full max-w-container mx-auto h-full flex my-auto items-center md:relative'>
    <button class='mr-[2.625rem] lg:hidden'>
      <Menu />
    </button>

    <a
      class='absolute left-1/2 -translate-x-1/2 md:relative md:left-auto md:-translate-x-0'
      href='/'
    >
      <Logo />
    </a>

    <ul class='hidden items-center gap-[2.125rem] absolute left-1/2 -translate-x-1/2 lg:flex'>
      {
        links.map(({ name, href }) => (
          <a
            class='text-[0.813rem] text-white font-bold uppercase duration-200 hover:text-orange focus-visible:text-orange'
            href={href}
          >
            {name}
          </a>
        ))
      }
    </ul>

    <button class='ml-auto'>
      <Cart />
    </button>

    <hr class='w-full absolute bottom-0 left-0 bg-white/10 border-none h-px' />
  </div>
</nav>
