<section class='flex flex-col gap-10 md:gap-16 lg:flex-row-reverse lg:items-center xl:gap-32'>
  <div class='w-full h-[18.75rem] overflow-hidden rounded-lg lg:h-[36.75rem] xl:min-w-[33.75rem]'>
    <picture>
      <source srcset='/assets/shared/desktop/best-gear.webp' media='(min-width: 1024px)' />
      <source srcset='/assets/shared/tablet/best-gear.webp' media='(min-width: 540px)' />
      <img
        class='object-cover w-full h-full'
        src='/assets/shared/mobile/best-gear.webp'
        alt='Best audio gear'
      />
    </picture>
  </div>
  <div class='text-center max-w-[35rem] mx-auto lg:text-left lg:max-w-[27.5rem]'>
    <h2 class='text-[1.75rem] font-bold uppercase md:text-[2.5rem] md:leading-10'>
      Bringing you the <span class='text-orange'>best</span> audio gear
    </h2>
    <p class='text-[0.938rem] text-dark/50 mt-8'>
      Located at the heart of New York City, Audiophile is the premier store for high end
      headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury
      demonstration rooms available for you to browse and experience a wide range of our products.
      Stop by our store to meet some of the fantastic people who make Audiophile the best place to
      buy your portable audio equipment.
    </p>
  </div>
</section>
